@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-poppins);
  }
}

@layer components {
  .home-page-gradient {
    background: linear-gradient(180deg, #D2CDC6 0%, #F5F5F5 100%);
  }

  .footer-bg {
    background: linear-gradient(180deg, #F5F5F5 0%, #D2CDC6 100%);
  }

  .btn-primary {
    padding: 10px 32px;
    background: #F5F5F5;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
    position: relative;
    z-index: 1;
    text-transform: capitalize;
  }
  .btn-primary::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(180deg, #8B8782 0%, #D2CDC6 100%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }



  .btn-secondary {
    background:
      linear-gradient(180deg, #52483E 0%, #8B8782 100%) padding-box,
      linear-gradient(180deg, #000000 0%, #8B8782 100%) border-box;
    border: 1px solid transparent;
    padding: 10px 32px;
    border-radius: 24px;
  }

  .menu-list a.menu-link-gradient {
    background: linear-gradient(180deg, #000000 0%, #666666 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .banner-second-title {
    background: linear-gradient(0deg, #DACCBC 0%, #AFA497 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  .header-bg {
    background: linear-gradient(180deg, #F5F5F5 0%, #D2CDC6 100%);

  }


  .your-style-slider-container .slick-list>.slick-track>.slick-slide.slick-active div>.your-style-slide img {
    height: 420px;
  }

  .your-style-slider-container .slick-list>.slick-track>.slick-slide.slick-active.slick-current div>.your-style-slide img {
    height: 660px;
    object-fit: fill;

  }




  .your-style-slider-container>.slick-slider>.slick-dots {
    bottom: -40px !important;
  }

  .your-style-slider-container>.slick-slider>.slick-dots li {
    width: 60px !important;
    height: 60px !important;
  }

  .your-style-slider-container>.slick-slider>.slick-dots li button {
    width: 60px !important;
    height: 60px !important;
    padding: 0px !important;
    cursor: pointer !important;
    color: transparent !important;
  }

  .your-style-slider-container>.slick-slider>.slick-dots li.slick-active button {
    border: 4px solid #52483e !important;
  }

  .your-style-slider-container>.slick-slider>.slick-dots li button:before {
    font-family: none !important;
    font-size: 0px !important;
    content: '' !important;
    color: transparent !important;
  }



  @media (max-width: 768px) {
    .your-style-slider-container .slick-list>.slick-track>.slick-slide.slick-active.slick-current div>.your-style-slide img {
      height: 420px;
      margin: auto;
      object-fit: contain;
    }

    .your-style-slider-container>.slick-slider>.slick-dots {
      bottom: 80px !important;
    }

    .your-style-slider-container>.slick-slider>.slick-dots li {
      width: 40px !important;
      height: 40px !important;
    }

    .your-style-slider-container>.slick-slider>.slick-dots li button {
      width: 40px !important;
      height: 40px !important;
      padding: 0px !important;
      cursor: pointer !important;
      color: transparent !important;
    }
  }

  @media (max-width: 540px) {
    .your-style-slider-container>.slick-slider>.slick-dots {
      bottom: 0px !important;
    }
  }
}